.system-pf2e .sheet.actor:not(.loot-sheet-npc),
.system-pf2e .sheet.item {
    background: rgba(6, 4, 3, 0.92);
    border-image-source: url(../../ui/frames/input_border.webp);
    border-image-slice: 5 20 20 20 fill;
    border-image-repeat: repeat repeat;
    border-image-width: auto;
    border-image-outset: 1px 2px 2px 2px;
    border-radius: 0;
}

.system-pf2e .sheet.actor .window-header,
.system-pf2e .sheet.item .window-header {
    border: none;
    color: var(--main-text-light-color);
}

.system-pf2e .sheet.actor:not(.loot-sheet-npc) .window-header::after,
.system-pf2e .sheet.item .window-header::after {
    position: absolute;
    z-index: -1;
    content: " ";
    width: 100%;
    height: 45px;
    left: 0;
    top: -9px;
    background: url(../../ui/frames/header.webp);
    background-size: 100% 45px;
}

.system-pf2e .window-app.dice-checks.dialog .window-content{
    background: url(/ui/parchment.jpg) repeat;
    color: #191813;
}

.pf2e.chat-card .card-header,
.pf2e.chat-card .card-footer,
.pf2e.chat-card .card-footer span {
    border-color: var(--border-color);
}

.system-pf2e .effect-panel {
    right: 310px;
    top: 10px;
}

.effect-panel div[data-item-id] {
    position: relative;
    border-radius: 50%;

    border: 2px solid var(--border-color);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px 0px
}

/* Monk's TokenBar */
/* https://github.com/ironmonk88/monks-tokenbar */

:root{
    --monks-border-color: #6b6155;
}

#chat .monks-tokenbar.chat-card .card-header {
    padding: 3px 0;
    border-top: 2px groove var(--monks-border-color);
    border-bottom: 2px groove var(--monks-border-color);
}

#chat .monks-tokenbar.chat-card .card-footer {
    border-top: 2px groove var(--monks-border-color);
}

#chat .monks-tokenbar.chat-card .card-footer span {
    border-right: 2px groove var(--monks-border-color);
}

#chat .monks-tokenbar .sheet .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #cfbda7;
}

#chat .monks-tokenbar.chat-card .card-header h3 {
    color: var(--main-text-light-color)
}

#chat #requestsavingthrow .request-header {
    border-radius: 4px;
    white-space: nowrap;
    overflow-x: hidden;
    color: #cfbda7;
    background: black;
    border: 2px solid var(--border-color);
    padding: 1px 8px;
}

#chat .monks-tokenbar .sheet .items-list .item-name h3,
#chat .monks-tokenbar .sheet .items-list .item-name h4 {
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
    color: #cfbda7;
    font-weight: bold;
    padding: 1px 4px;

    background: rgba(0, 0, 0, 0.43);
    border: 1px solid transparent;
    border-radius: 3px;
}

#chat .monks-tokenbar .sheet .items-list .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    font-weight: bold;
    flex-wrap: nowrap;

    background: rgba(0, 0, 0, 0.43);
    border: 1px solid transparent;
    border-radius: 3px;
}

#chat .monks-tokenbar.chat-card .sheet .items-list {
    padding: 0;
}

/* Babele */
/* https://gitlab.com/riccisi/foundryvtt-babele */
#actor-translate-log {
    color: var(--main-text-very-light-color)
}

/* Minimal UI */
/* https://github.com/saif-ellafi/foundryvtt-minimal-ui/issues */
.minimal-ui-mode .new-logo {
    display: none!important;
}
.minimal-ui-mode #controls ol li.scene-control[data-control="combat-carousel"] {
    width: var(--controlsw)!important;
    height: var(--controlsh)!important;
}
.minimal-ui-mode #controls li[data-control="combat-carousel"]::after {
    width: calc(var(--controlsw) - 10px)!important;
    height: calc(var(--controlsh) - 10px)!important;
}

.minimal-ui-mode #ui-bottom > div {
    justify-content: inherit!important;
}
.minimal-ui-mode #navigation #scene-list {
    margin-left: 16px;
}
.minimal-ui-mode #controls ol.main-controls {
    width: 60px;
}

#fps {
    position: absolute;
    right: 300px;
    order: 2;
    border: 0px solid var(--color-border-light-tertiary);
    border-radius: 5px;
}

/*Commentaire status condition*/
.message-content .dice-roll .statuseffect-rules {
    background: url(../systems/imgs/chat-texture-dark.webp) repeat;
}

/* Chat button DC Check */ 
[data-pf2-check] { 
    color: #0e0e0e ; 
}

/* Chat button effect area */
[data-pf2-effect-area] {
    color: #0e0e0e ; 
}

/* Chat button DC Action */
[data-pf2-action]{
    color: #0e0e0e ; 
}

a.inline-roll.blindroll {
    color: #cfbda7;
    background: #61180e;
    border-color: #9a2619;
}

#chat-log [data-pf2-check],
#chat-log a.entity-link,
#chat-log a.content-link,
#chat-log a.inline-roll {
    color: #cfbda7;
    background: #61180e;
    padding: 0px 3px;
    border: 2px solid #9a2619;
    border-radius: 6px;
}

#chat-log .message [data-visibility="gm"]:is(div,em,p,span,strong) {
    background: none;
}

#chat-log .message [data-visibility="owner"]:is(div,em,p,span,strong) {
    background: none;
}

[data-visibility=owner]:is(div,em,p,span,strong) {
    font-style: italic;
    color: greenyellow ;
    border: none;
    box-shadow: none;
}

#chat-log .pf2e.chat-card .card-buttons button {
    margin: 2px 0;
    background: rgba(110,0,0,1);
    border:none;
    color: #cfbda7;
    text-shadow: black;
    line-height: 20px;
}

#chat-log .pf2e.chat-card [data-visibility=owner] button {
    text-transform: uppercase;
    border:none;
    background: #008000;
    color: #fff;
}

#chat-log .pf2e.chat-card [data-visibility=owner] button:hover {
    text-transform: uppercase;
    border:none;
    background: rgba(110,0,0,1);
    color: #fff;
}

#chat-log .pf2e.chat-card .card-buttons .hidden-to-others {
    border: none;
    background: blue;
}

#chat-log .pf2e.chat-card .card-buttons .hidden-to-others:hover {
    border: none;
    background: lightblue;
}

.dice-total:hover,
.dice-roll .dice-formula:hover,
#chat-log button:hover,
#chat-log button:focus {
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    color: #cfbda7;
    background-color:rgba(110,0,0,1);
    cursor: pointer;
} 

#chat-log .message-content .chat-damage-buttons button.shield-block {
    background-color: darkblue;
    color: #cfbda7;
    text-shadow: black;
    border:none;
}

#chat-log .message-content .chat-damage-buttons button.shield-block:hover {
    background-color: #008000;
    border:none;
}

#chat-log .message-content .chat-damage-buttons button.shield-block.shield-activated {
    background-color: rgba(110,0,0,1);
    border:none;
}

#chat-log .message-content .chat-damage-buttons button.shield-blockshield-activated,
#chat-log .message-content .chat-damage-buttons button.shield-block:hover {
    color: #cfbda7;
    text-shadow: black;
    border:none;
}

#chat-log .message-content .chat-damage-buttons button.shield-block.shield-activated:hover {
    background-color:blue;
    color: #cfbda7;
    border:none;
}

/*Damage tag base & modifier*/
.damage-tag {
    border:none;
}

.damage-tag-base {
    background: darkslategrey;
    text-transform: uppercase;
    font-style: normal;
    color: #fff;
}

.damage-tag-modifier {
    background: #008000;
    text-transform: uppercase;
    font-style: normal;
    color: #fff;
}